


/*tablet responsive*/
@media only screen and (max-width:768px) {

    header{
        box-shadow: none;
        height: 250px; 
    }
    .banner-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 10px; 
        
    }
        
    
        nav > ul 
    {
             flex-direction: column;
             margin-top: 2rem;
             gap: 20px; 
            
    
    }
    .image-section > img {
        max-width: 600px ;
    }
    .play-section{
        flex-direction: column-reverse;
        margin: 0; 
       align-items: center;
    }
    
    .play-section-article {
        flex-direction: column-reverse;
        width: 100%;
    }
    
    .online-section {
    flex-direction: column;
    }
    
    .box-container {
        flex-direction: column;
    }
    
    .play-instant-section {
    flex-direction: column;
    }
    .image-1 {
      
        max-width: 400px; 
        }
        .image-2 {
      
            max-width: 200px; 
            left: -100px; 
            }
    .gametype-container {
    
    }
    
    .footer-container {
        flex-direction: column;
    
    }
    .icon-container {
        padding: 0 10vw; 
        gap:20px; 
        }
        .anchor-container {
            gap: 30px;
            
        }
        
        .footer-container {
            padding: 120px 20vw;
         
             gap: 20px; 
             flex-wrap: wrap;
             
         }
         .terms-container{
            justify-content: space-between;
         }
    }



/*Mobile responsive*/

@media only screen and (max-width:576px) {
header{
    box-shadow: none;
    height: 250px; 
}
.banner-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px; 
    
}
    

    nav > ul 
{
         flex-direction: column;
         margin-top: 2rem;
         gap: 20px; 
        

}
.image-section > img {
    max-width: 400px ;
}

.image-1 {
      
    max-width: 300px; 
    }
    .image-2 {
  
        max-width: 150px; 
        left: -75px;
        bottom: -75px; 
        }
.play-section{
    flex-direction: column-reverse;
    margin: 0; 
    align-items: center;
}
.play-instant-section {
    margin: 0;

   
}
.image-box{
    gap: 3px; 
    padding: 5px;
}
.image-box:hover{
    padding: 4px;
}
.image-box img{
    width: 20px; 
}
.image-box p{
    font-size: 0.75rem;
}
.play-section-article{
    width: 100%;
    padding: 0; 
}
.online-section {
flex-direction: column;
}

.box-container {
    flex-direction: column;
}

.play-instant-section {
flex-direction: column;
}

.icon-container {
padding: 0 10vw; 
gap:20px; 
}
.anchor-container{
    gap: 10px; 
}
.footer-container {
    padding: 120px 5vw;
 
     gap: 20px; 
     flex-wrap: wrap;
     
 }
 .terms-container{
    justify-content: space-between;
 }

}


