/* Common Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Poppins:wght@100;400;600;800&family=Work+Sans:wght@100;400;500;600;700;800&display=swap');
* {

font-family: 'Work Sans', sans-serif;}



.banner-container {
    width: 100%;
margin: 0 5rem;
display: flex;
justify-content: space-between;
background: #FFF;
box-shadow: 0px .25rem 1.8rem 0px rgba(0, 0, 0, 0.05);
align-items: center;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.logo-container > h3 {
    margin-left: 1rem;
}
.logo {
    width: 5rem;
    height: 2.25rem;
    margin-right: 2rem;
}
.header-h3 {
    text-align: center;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-header {
    display: flex;
    margin-left: 2rem;
}
.no-style {
    color: #0B0223;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
nav > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
 nav li {
    text-decoration: none;
    list-style: none;
 }
nav li a {
    text-decoration: none;
    margin-left: 1rem;
}
.background-shade {
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 2rem;
    display: flex;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
justify-content: space-around;
}
/*Play section starts*/
.play-section {
   
    display: flex;
    justify-content: space-between;
    margin: 0 10rem;
}
.play-section-article {
    width: 30rem;
    height: 30rem;
    align-self: center ;
    text-align: center;
    
    background-image: url(images/group.png);
    background-repeat: no-repeat;
}
.play-section-article > h3 {
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-top: 0;
}
.play-section-article > p {
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
} 
.play-section-article > h2 {
    text-align: center;
font-family: Work Sans;
font-size: 95px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.image-section > img {
    width: 45rem ;
    height: 42rem;
}
.btn-1 {
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
display: inline-flex;
padding: 1.25rem 2.5rem;
align-items: flex-start;
gap: .75rem;
border-radius: 3rem;
background: #ff42a5;
}
.btn-2 {
    color: #FFF;
font-family: Work Sans;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
display: inline-flex;
padding: 1.25rem 2.5rem;
align-items: flex-start;
gap: 10px;
border-radius: 3rem;
background: #4EC5F7;
}
/*Online game container */
.box-container {
    display: flex;
    justify-content: space-between;

    
}

.online-section > h3 {
    text-align: center;
 color: #0B0223;
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.stylish {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.online-section > p {
color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 1.2rem;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
text-align: center;
}

.box {
padding: 1rem 1rem ;
align-items: center;
text-align: center;
}

/*play instantly section*/
.play-instant-section {
    margin: 0 10rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
   
}
.play-instant-article {
    text-align: center;
    margin-top: 0;
}

.header-normal {
    color: #0B0223;
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: 4rem;
}

.play-instant-paragraph 
{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}

.header-stylish {
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
background: #ff42a5;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play-instant-image {
    position: relative;
}
.image-1 {
position: relative;
z-index: 1;
}
.image-2 {
position: absolute;
bottom:-100px;
left: -200px;
z-index: 1;
}

/*
gametype container section
*/
.gametype-container {
    margin-top: 8rem;
    margin-left: 3rem ;
    margin-right: 3rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image-box {
    display: flex;
    padding: 1.5rem;
}

/*footer section*/


.footer-container {
    background: #0B0223;
    
}

.footer-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.anchor-container {
    display: flex;
    justify-content: center;
    
}
.anchor-container > a {
    text-decoration: none;
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 2rem;
}
.icon-container {
    margin-top: 2rem;
    
    display: flex;
    justify-content: center;
}

.icon-container > i {
    margin-left: 3rem;

}
.terms-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.terms-container > a {
    text-decoration: none;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 2rem;
}

.footer-paragraph {
    margin-top: 2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.span-style {
    color: #FFF;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.header-footer {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



/*Mobile responsive*/

@media only screen and (max-width:425px) {

.banner-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}
    

    nav > ul 
{
         flex-direction: column;
         margin-top: 2rem;
        

}

.play-section-article {
    flex-direction: column-reverse;
}

.online-section {
flex-direction: column;
}

.box-container {
    flex-direction: column;
}

.play-instant-section {
flex-direction: column;
}

.gametype-container {

}

.footer-container {
    flex-direction: column;

}

}


/*tablet responsive*/
@media only screen and (max-width:768px) {

    .banner-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        
    }
        
    
        nav > ul 
    {
             flex-direction: column;
             margin-top: 2rem;
            
    
    }
    
    .play-section-article {
        flex-direction: column-reverse;
    }
    
    .online-section {
    flex-direction: column;
    }
    
    .box-container {
        flex-direction: column;
    }
    
    .play-instant-section {
    flex-direction: column;
    }
    
    .gametype-container {
    
    }
    
    .footer-container {
        flex-direction: column;
    
    }
    
    }